
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 4px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 6px 0;
}

.row input {

  font-size: 19px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  width: 291px;
}
